body{
    background: url(../../src/img/bg.jpg) no-repeat;
    background-size: 100%;
}

nav {
    height: 50px;
}

header{
    height: 50px;
	background: #333333;
}

.header__logo { 
    cursor: pointer;
    width: 25px;
}

.logo {
    margin-top: 5px;
    height: 40px;
}

.nav__link {
    margin-top: 15px;
	color: #fff;
	text-align: center;
}